.cabecera {
    max-width:100vw;
    background-image: url(../images/.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 100;
}
.cabecera__div--h1 { 
    font-size: 75px;
    color: $naranja;
    text-shadow: 0 0 3px $sombra;
}

.cabecera__div--h4 {
    color: $naranja;
    text-shadow: 0 0 2px $sombra;
}


@media only screen and (max-width: 766px) {
    .cabecera__div--h1 {
        font-size: 40px;
    }
     .cabecera__div--h4 {
         font-size:medium;
     }
}