.cabecera{
    position:relative;
    z-index: 200;
}
.cabecera__div--h1 { 
    font-size: 70px;
    color: $naranja;
    text-shadow: 0 0 3px $sombra;
    animation: apertura 1s 2.2s both;
}

.cabecera__div--h1--p1{
    text-shadow: 1px 1px 3px $sombra;
}

.cabecera__div--h4 {
    color: $naranja;
    text-shadow: 0 0 2px $sombra;
    
}
.cabecera__div--h4--1{
    margin: 0 5px;
    animation: explocion1 1.5s 3s both;
}
.cabecera__div--h4--2{
    margin: 0 5px;
    animation: explocion1 1.5s 3.7s both;
}
.cabecera__div--h4--3{
    margin: 0 5px;
    animation: explocion1 1.5s 4.2s both;
}
.cabecera__div--h4--4{
    margin: 0 5px;
    animation: explocion1 1.5s 4.8s both;
}


@media only screen and (max-width: 766px) {
    .cabecera__div--h1 {
        font-size: 40px;
    }
    .cabecera__div--h4 {
        font-size:medium;
    }
}

