.centro {
    position: relative;
    z-index: 100;
    .centro__seccion {
        .centro__seccion--descripcion {
            background-color: $naranja;
            border-radius: 25%;
            color: $gris;
            box-shadow: 0 0 16px $sombra;
            animation: explocion2 2s 3s both;
          
        }

        .centro__seccion--perfil--foto{                
                height: 350px;
                border-radius: 25%;
                border: 3px solid $rosa;
                box-shadow: 0 0 16px $sombra;
                animation: explocion2 2s 3s both;                    
        }
        .centro__seccion--imagenes{
            filter: drop-shadow(0 0 10px $sombra);
            animation: explocion1 2s 3s both;


        }
    }
}


.centro {
    .centro__articulo {
        .centro__articulo--tarjeta {
            padding-left: 0;
            padding-right: 0;
            background-color: $naranja;
            box-shadow: 0 0 16px $sombra;
            animation: explocion3 2s 3s both;

        .centro__articulo--h5{
            color: $gris;
            text-shadow: 0 0 19px $sombra;
        }
        .centro__articulo--parrafo{
            color: $gris;
            text-shadow: 0 0 19px $sombra;
        }
            .centro__seccion--imagenes {
                box-shadow: 0 0 10px $sombra;
                width: 100%;
            }

            .centro__articulo--tarjeta--div {
                a {
                    display: block;
                    border: 3px solid $gris;
                    color: $gris;
                    text-shadow: 0 0 19px $sombra;
                    box-shadow: 0 0 10px $sombra;
                }
            }
        }
    }
}

.centro{
    .centro__formulario{
        animation: explocion2 1s 2s both;
        .centro__formulario--div{
            border-color: $azul;
            box-shadow: 0 0 10px $sombra;

            .form-control{
                border-bottom: $azul;
            }
            .centro__formulario--boton{
                display: block;
                width: 100%;
            }
        }
    }
}