

.barra {
    background-color: $azul;
    box-shadow: 0 0 16px $sombra;
    .barra__div {
        .barra__div--a {
            color: $gris;
            text-shadow: 0 0 10px $sombra;
        }
        .barra__div--boton {
            box-shadow: 0 0 3px $sombra;
            border-color: $gris;
            color: $gris;
        }
        .barra__div--icono {
            text-decoration-color: $gris;
        }
        .barra__div--li--a {
            color: $gris;
            text-shadow: 0 0 10px $sombra;
        }
    }
}