.centro__div--titulo {
        .centro__div--h4 {
            font-size: 2rem;
            color: $naranja;
            text-shadow: 0 0 3px $sombra;
        }

        .centro__div--hr {
            color: $azul;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5px;
        }
}
