.cuerpo {
  background-color: #D9D9D9;
  font-family: "Hammersmith One", "sans-serif";
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.cuerpo::after {
  content: "";
  position: absolute;
  z-index: 50;
  top: -350px;
  left: -250px;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background-color: #66B9BF;
  position: fixed;
  opacity: .4;
}

.cuerpo::before {
  content: "";
  position: absolute;
  z-index: 50;
  top: 350px;
  right: -20px;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background-color: #66B9BF;
  position: fixed;
  opacity: .4;
}

@media screen and (max-width: 765px) {
  .barra {
    -webkit-animation: explocion5 3s 5s both;
            animation: explocion5 3s 5s both;
    width: 105px;
    padding-bottom: 20px;
    border-radius: 0px 0px 23px 0px;
  }
  .barra .barra__div .barra__div--a {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 765px) {
  .cuerpo::after {
    width: 700px;
    height: 700px;
  }
}

@media screen and (max-width: 765px) {
  .cuerpo::before {
    width: 700px;
    height: 700px;
    right: -220px;
  }
}

.cabecera {
  position: relative;
  z-index: 200;
}

.cabecera__div--h1 {
  font-size: 70px;
  color: #E37222;
  text-shadow: 0 0 3px #555555;
  -webkit-animation: apertura 1s 2.2s both;
          animation: apertura 1s 2.2s both;
}

.cabecera__div--h1--p1 {
  text-shadow: 1px 1px 3px #555555;
}

.cabecera__div--h4 {
  color: #E37222;
  text-shadow: 0 0 2px #555555;
}

.cabecera__div--h4--1 {
  margin: 0 5px;
  -webkit-animation: explocion1 1.5s 3s both;
          animation: explocion1 1.5s 3s both;
}

.cabecera__div--h4--2 {
  margin: 0 5px;
  -webkit-animation: explocion1 1.5s 3.7s both;
          animation: explocion1 1.5s 3.7s both;
}

.cabecera__div--h4--3 {
  margin: 0 5px;
  -webkit-animation: explocion1 1.5s 4.2s both;
          animation: explocion1 1.5s 4.2s both;
}

.cabecera__div--h4--4 {
  margin: 0 5px;
  -webkit-animation: explocion1 1.5s 4.8s both;
          animation: explocion1 1.5s 4.8s both;
}

@media only screen and (max-width: 766px) {
  .cabecera__div--h1 {
    font-size: 50px;
  }
  .cabecera__div--h4 {
    font-size: medium;
  }
}

.barra {
  background-color: #07889B;
  -webkit-box-shadow: 0 0 16px #555555;
          box-shadow: 0 0 16px #555555;
  -webkit-animation: explocion2 3s 5s both;
          animation: explocion2 3s 5s both;
}

.barra .barra__div .barra__div--a--img {
  width: 80px;
  -webkit-filter: drop-shadow(0 0 10px #555555);
          filter: drop-shadow(0 0 10px #555555);
}

.barra .barra__div .barra__div--boton {
  -webkit-box-shadow: 0 0 3px #555555;
          box-shadow: 0 0 3px #555555;
  border-color: #D9D9D9;
  color: #D9D9D9;
}

.barra .barra__div .barra__div--icono {
  -webkit-text-decoration-color: #D9D9D9;
          text-decoration-color: #D9D9D9;
}

.barra .barra__div .barra__div--li--a {
  color: #D9D9D9;
  text-shadow: 0 0 10px #555555;
}

.centro {
  position: relative;
  z-index: 100;
}

.centro .centro__seccion .centro__seccion--descripcion {
  padding: 0 50px;
  background-color: #E37222;
  border-radius: 20%;
  color: #D9D9D9;
  -webkit-box-shadow: 0 0 16px #555555;
          box-shadow: 0 0 16px #555555;
  -webkit-animation: explocion5 3s 6s both;
          animation: explocion5 3s 6s both;
  -webkit-transition: 1s;
  transition: 1s;
}

.centro .centro__seccion .centro__seccion--descripcion:hover {
  font-size: 110%;
}

.centro .centro__seccion .centro__seccion--perfil--foto {
  height: 350px;
  border-radius: 0px 40px 0px 37px;
  border: 2px solid rgba(255, 255, 255, 0.904);
  -webkit-box-shadow: 0 0 16px #555555;
          box-shadow: 0 0 16px #555555;
  -webkit-animation: explocion3 2s 5s both;
          animation: explocion3 2s 5s both;
  -webkit-transition: 1s;
  transition: 1s;
}

.centro .centro__seccion .centro__seccion--perfil--foto:hover {
  font-size: 110%;
}

.centro .centro__seccion .centro__seccion--imagenes {
  -webkit-filter: drop-shadow(0 0 10px #555555);
          filter: drop-shadow(0 0 10px #555555);
  -webkit-animation: explocion1 3s 3s both;
          animation: explocion1 3s 3s both;
}

.centro .centro__articulo .centro__articulo--div--carrusel {
  -webkit-animation: explocion2 3s 5s both;
          animation: explocion2 3s 5s both;
}

.centro .centro__formulario {
  -webkit-animation: explocion2 3s 5s both;
          animation: explocion2 3s 5s both;
}

.centro .centro__formulario .centro__formulario--div {
  border-color: #07889B;
  -webkit-box-shadow: 0 0 10px #555555;
          box-shadow: 0 0 10px #555555;
}

.centro .centro__formulario .centro__formulario--div .form-control {
  border-bottom: #07889B;
}

.centro .centro__formulario .centro__formulario--div .centro__formulario--boton {
  display: block;
  width: 100%;
}

.pie {
  position: relative;
  z-index: 150;
  background-color: #07889B;
  margin-top: 30px;
}

.pie .pie__div--small {
  color: #D9D9D9;
}

.centro__div--titulo .centro__div--h4 {
  font-size: 2rem;
  color: #E37222;
  text-shadow: 0 0 3px #555555;
  -webkit-animation: explocion1 2s 5s both;
          animation: explocion1 2s 5s both;
}

.centro__div--titulo .centro__div--h4 .expandir {
  margin-top: 100px;
  -webkit-transition: 1s;
  transition: 1s;
}

.centro__div--titulo .centro__div--h4 .expandir:hover {
  font-size: 2.5rem;
}

.centro__div--titulo .centro__div--hr {
  color: #07889B;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

@-webkit-keyframes explocion1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  33% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  66% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes explocion1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  33% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  66% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes explocion2 {
  0% {
    opacity: .0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes explocion2 {
  0% {
    opacity: .0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes explocion5 {
  0% {
    opacity: .0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes explocion5 {
  0% {
    opacity: .0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes explocion3 {
  0% {
    opacity: .0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes explocion3 {
  0% {
    opacity: .0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes explocion4 {
  0% {
    opacity: .0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes explocion4 {
  0% {
    opacity: .0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes apertura {
  0% {
    -webkit-transform: translate(0, 40vh);
            transform: translate(0, 40vh);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes apertura {
  0% {
    -webkit-transform: translate(0, 40vh);
            transform: translate(0, 40vh);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=custom.css.map */