@import "./body";
@import "./cabecera";
@import "./nav";
@import "./main";
@import "./footer";
@import "./titulos";
@import "./keyframes";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






